  <mat-horizontal-stepper [linear]="isLinear" #stepper class='mt-5 shadow'>
    <mat-step [stepControl]="groupAll">
      <form [formGroup]="groupAll" (ngSubmit)='addPost(groupAll.value)'>
        <ng-template matStepLabel>Site Study Record (New)</ng-template>
        <p>Enter the info for the site study.</p>
        <div class='xl:flex xl:flex-wrap xl:justify-end lg:flex lg:flex-wrap lg:justify-end md:no-flex sm:no-flex'>
          <div class="xl:w-2/5 xl:p-2 lg:w-2/5 lg:p-2 md:w-full md:p-1 sm:w-full sm:p-1">
            <mat-form-field appearance="outline">
              <mat-label>Project No</mat-label>
              <input matInput formControlName="projectNo">
            </mat-form-field>
          </div>
          <div class="xl:w-2/5 xl:p-2 lg:w-2/5 lg:p-2 md:w-full md:p-1 sm:w-full sm:p-1">
            <mat-form-field appearance="outline">
              <mat-label>County (Site, not Drainage)</mat-label>
              <input matInput formControlName="county">
            </mat-form-field>
          </div>
          <div class="xl:w-2/5 xl:p-2 lg:w-2/5 lg:p-2 md:w-full md:p-1 sm:w-full sm:p-1">
            <mat-form-field appearance="outline">
              <mat-label>Bridge Serial</mat-label>
              <input matInput formControlName="bridgeSerial">
            </mat-form-field>
          </div>
          <div class="xl:w-2/5 xl:p-2 lg:w-2/5 lg:p-2 md:w-full md:p-1 sm:w-full sm:p-1">
            <mat-form-field appearance="outline">
              <mat-label>Notes</mat-label>
              <textarea matInput formControlName="notes"></textarea>
            </mat-form-field>
          </div>
        </div>
        <p><i>The county entered should be where the drainage discharge is located (i.e. where the bridge is located,
            not
            what county the drainage comes from principally.) The hydro input is where contributing drainage country
            would
            be entered.</i></p>
        <div class="text-right">
          <button class="bg-gray-700 text-white mx-1 rounded-full py-2 px-4 focus:outline-none hover:bg-gray-600"
            matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="groupAll">

      <form [formGroup]="groupAll" (ngSubmit)='addPost(groupAll.value)'>
        <ng-template matStepLabel>Hydro Input</ng-template>
        <div class='xl:flex justify-end lg:flex justify-end md:no-flex sm:no-flex'>
          <button class='bg-indigo-700 text-white mx-1 rounded-full py-2 px-4 focus:outline-none hover:bg-indigo-600'
            (click)='openTable()'>Method Variables</button>
        </div>
        <div class='xl:flex justify-end flex-wrap lg:flex justify-end flex-wrap md:no-flex sm:no-flex'>
          <div class="w-5/12">
            <mat-checkbox formControlName='currentMethods' [(ngModel)]="checked">Output Current Methods Only
            </mat-checkbox>
          </div>
          <div class="w-5/12">
            <mat-form-field appearance="outline">
              <mat-label>Drainage Area (Square Miles)</mat-label>
              <input matInput formControlName="drainageArea">
            </mat-form-field>
          </div>
          <div class="w-5/12">
            <mat-form-field appearance="outline">
              <mat-label>Drainage County</mat-label>
              <mat-select formControlName="countyOptions">
                <mat-option value="option1"> </mat-option>
                <mat-option value="ALLEN">ALLEN</mat-option>
                <mat-option value="ANDERSON">ANDERSON</mat-option>
                <mat-option value="ATCHISON">ATCHISON</mat-option>
                <mat-option value="BARBER">BARBER</mat-option>
                <mat-option value="BARTON">BARTON</mat-option>
                <mat-option value="BOURBON">BOURBON</mat-option>
                <mat-option value="BROWN">BROWN</mat-option>
                <mat-option value="BUTLER">BUTLER</mat-option>
                <mat-option value="CHASE">CHASE</mat-option>
                <mat-option value="CHAUTAUQUA">CHAUTAUQUA</mat-option>
                <mat-option value="CHEROKEE">CHEROKEE</mat-option>
                <mat-option value="CHEYENNE">CHEYENNE</mat-option>
                <mat-option value="CLARK">CLARK</mat-option>
                <mat-option value="CLAY">CLAY</mat-option>
                <mat-option value="CLOUD">CLOUD</mat-option>
                <mat-option value="COFFEE">COFFEE</mat-option>
                <mat-option value="COMANCHE">COMANCHE</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="w-5/12">
            <div class='items-start'>
              <mat-radio-group formControlName='validate'>
                <mat-radio-button class='focus:outline-none' value='1'>County Value</mat-radio-button>
                <br>
                <mat-radio-button class='pr-2 focus:outline-none' value='2' checked>User Value</mat-radio-button>
                <mat-icon class='cursor-pointer text-gray-700' matTooltip="View Map"
                  [matTooltipPosition]="position.value" (click)="openDialog6()">
                  map
                </mat-icon>
              </mat-radio-group>
            </div>
            <div>
              <mat-form-field appearance="outline">
                <mat-label>Rainfall 2 Year 24 hr (Inches)</mat-label>
                <input matInput formControlName="rainfall">
              </mat-form-field>
            </div>
          </div>
          <div class="w-5/12">
            <mat-form-field appearance="outline">
              <mat-label>Soil Permeability (Inches Per Hour)</mat-label>
              <input matInput formControlName="soilPermeability">
              <mat-icon matSuffix class='cursor-pointer text-gray-700' matTooltip="View Maps"
                [matTooltipPosition]="position.value" (click)="openDialog()">
                map
              </mat-icon>
            </mat-form-field>

          </div>
          <div class="w-5/12">
            <mat-form-field appearance="outline">
              <mat-label>Slope 10 to 85% (Feet per Mile)</mat-label>
              <input matInput formControlName="slope">
            </mat-form-field>
          </div>
        </div>
        <div class="flex justify-between">
          <button class="bg-gray-700 text-white mx-1 rounded-full py-2 px-4 focus:outline-none hover:bg-gray-600"
            matStepperPrevious>Back</button>
          <button class="bg-gray-700 text-white mx-1 rounded-full py-2 px-4 focus:outline-none hover:bg-gray-600"
            matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="groupAll">
      <form [formGroup]="groupAll" (ngSubmit)='addPost(groupAll.value)'>
        <ng-template matStepLabel>Hydro Input</ng-template>
        <div class='xl:flex justify-end lg:flex justify-end md:no-flex sm:no-flex'>
          <button class='bg-indigo-700 text-white mx-1 rounded-full py-2 px-4 focus:outline-none hover:bg-indigo-600'
            (click)='openTable()'>Method Variables</button>
        </div>
        <div class='xl:flex justify-end lg:flex justify-end md:no-flex sm:no-flex'>
          <div class="w-5/12">
            <mat-form-field appearance="outline">
              <mat-label>Mean Annual Precipitation (Inches)</mat-label>
              <input matInput formControlName="annualPrecipitation">
              <mat-icon matSuffix class='cursor-pointer text-gray-700' matTooltip="View Map"
                [matTooltipPosition]="position.value" (click)="openDialog2()">
                map
              </mat-icon>
            </mat-form-field>
          </div>

          <div class="w-5/12">
            <mat-form-field appearance="outline">
              <mat-label>Mean Annual Precipitation15 (Kansas 2015) (Inches)</mat-label>
              <input matInput formControlName="annualPrecipitation15">
              <mat-icon matSuffix class='cursor-pointer text-gray-700' matTooltip="View Map"
                [matTooltipPosition]="position.value" (click)="openDialog3()">
                map
              </mat-icon>
            </mat-form-field>
          </div>

          <div class="w-5/12">
            <mat-form-field appearance="outline">
              <mat-label>Mean Annual Precipitation (Kansas 2017) (Inches) [PRECIPRIS10]</mat-label>
              <input matInput formControlName="annualPrecipitation17">
              <mat-icon matSuffix class='cursor-pointer text-gray-700' matTooltip="View Map"
                [matTooltipPosition]="position.value" (click)="openDialog4()">
                map
              </mat-icon>
            </mat-form-field>
          </div>

          <div class="w-5/12">
            <mat-form-field appearance="outline">
              <mat-label>Kansas Hydrolic Region [Region]</mat-label>
              <mat-select formControlName="hydrolicRegion">
                <mat-option value="option1"> </mat-option>
                <mat-option value="NA">Not Applicable</mat-option>
                <mat-option value="Region 1">Region 1</mat-option>
                <mat-option value="Region 2">Region 2</mat-option>
              </mat-select>
              <mat-icon matSuffix class='cursor-pointer text-gray-700' matTooltip="View Map"
                [matTooltipPosition]="position.value" (click)="openDialog4()">
                map
              </mat-icon>
            </mat-form-field>
          </div>

          <div class="w-5/12">
            <mat-form-field appearance="outline">
              <mat-label>Mean Annual Runoff (Inches)</mat-label>
              <input matInput formControlName="annualRunoff">
              <mat-icon matSuffix class='cursor-pointer text-gray-700' matTooltip="View Map"
                [matTooltipPosition]="position.value" (click)="openDialog5()">
                map
              </mat-icon>
            </mat-form-field>
          </div>

          <div class="w-5/12">
            <mat-form-field appearance="outline">
              <mat-label>Main Channel Length (Miles)</mat-label>
              <input matInput formControlName="channelLength">
            </mat-form-field>
          </div>
          <div class="w-5/12">
            <mat-form-field appearance="outline">
              <mat-label>Rational Runoff Coefficient</mat-label>
              <input matInput formControlName="runoffCoefficient">
            </mat-form-field>
          </div>
          <div class="w-5/12">
            <mat-checkbox formControlName='autoCalculate' value='1' [(ngModel)]="checked">Auto Calculated (Rural with <
                3% impervious area)</mat-checkbox> <mat-form-field appearance="outline">
                <mat-label>Time of Concentration (Minutes)</mat-label>
                <input matInput formControlName="concentration">
                </mat-form-field>
          </div>
        </div>

        <div class="flex justify-between">
          <button class="bg-gray-700 text-white mx-1 rounded-full py-2 px-4 focus:outline-none hover:bg-gray-600"
            matStepperPrevious>Back</button>
          <button class='bg-gray-700 text-white mx-1 rounded-full py-2 px-4 focus:outline-none hover:bg-gray-600'
            matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Summary</ng-template>

      <div class='flex flex-col justify-center'>
        <div class='max-w-full rounded overflow-hidden shadow-lg my-4 mx-4 p-4'>
          <p class='font-medium'>Site Study Record</p>
          <form class='flex justify-center'>
            <mat-form-field class='mx-3'>
              <input matInput placeholder='Project Number' disabled value='{{projectNo}}'>
            </mat-form-field>
            <mat-form-field class='mx-3'>
              <input matInput placeholder='County' disabled value='{{county}}'>
            </mat-form-field>
            <mat-form-field class='mx-3'>
              <input matInput placeholder='Bridge Serial' disabled value='{{bridgeSerial}}'>
            </mat-form-field>
            <mat-form-field class='mx-3'>
              <input matInput placeholder='Notes' disabled value='{{notes}}'>
            </mat-form-field>
          </form>
        </div>
        <div class='max-w-full rounded overflow-hidden shadow-lg my-4 mx-4 p-4'>
          <p class='font-medium'>Hydro Input</p>
          <form class='flex flex-wrap justify-center'>
            <mat-form-field class='mx-3'>
              <input matInput placeholder='Drainage Area' disabled value='{{drainageArea}}'>
            </mat-form-field>
            <mat-form-field class='mx-3'>
              <input matInput placeholder='County Options' disabled value='{{countyOptions}}'>
            </mat-form-field>
            <mat-form-field class='mx-3'>
              <input matInput placeholder='Soil Permeability' disabled value='{{soilPermeability}}'>
            </mat-form-field>
            <mat-form-field class='mx-3'>
              <input matInput placeholder='Slope' disabled value='{{slope}}'>
            </mat-form-field>
            <mat-form-field class='mx-3'>
              <input matInput placeholder='Annual Precipitation' disabled value='{{annualPrecipitation}}'>
            </mat-form-field>
            <mat-form-field class='mx-3'>
              <input matInput placeholder='Annual Precipitation15' disabled value='{{annualPrecipitation15}}'>
            </mat-form-field>
            <mat-form-field class='mx-3'>
              <input matInput placeholder='Annual Precipitation17' disabled value='{{annualPrecipitation17}}'>
            </mat-form-field>
            <mat-form-field class='mx-3'>
              <input matInput placeholder='Hydrolic Region' disabled value='{{hydrolicRegion}}'>
            </mat-form-field>
            <mat-form-field class='mx-3'>
              <input matInput placeholder='Annual Runoff' disabled value='{{annualRunoff}}'>
            </mat-form-field>
            <mat-form-field class='mx-3'>
              <input matInput placeholder='Channel Length' disabled value='{{channelLength}}'>
            </mat-form-field>
            <mat-form-field class='mx-3'>
              <input matInput placeholder='Runoff Coefficient' disabled value='{{runoffCoefficient}}'>
            </mat-form-field>
            <mat-form-field class='mx-3'>
              <input matInput placeholder='Concentration' disabled value='{{concentration}}'>
            </mat-form-field>
          </form>
        </div>
      </div>

      <div class="flex justify-between">
        <button class='bg-gray-700 text-white mx-1 rounded-full py-2 px-4 focus:outline-none hover:bg-gray-600'
          matStepperPrevious>Back</button>
        <div>
          <button class='bg-red-700 text-white mx-1 rounded-full py-2 px-4 focus:outline-none hover:bg-gray-600'
            (click)="stepper.reset()">Reset</button>
          <button class='bg-green-700 text-white mx-1 rounded-full py-2 px-4 focus:outline-none hover:bg-gray-600'
            type='submit' value='Submit'>Submit</button>
        </div>
      </div>
    </mat-step>

  </mat-horizontal-stepper>
