.button {
  background-color: #555;
  color: #fff;
  margin: 0 5px;
}

.contain {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.links {
  display: flex;
}

mat-icon {
  cursor: pointer;
}

mat-radio-button {
  margin-right: 10px;
}

.next{
  text-align: right;
}
