  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 text-sm border-solid border-1 border-gray-400 sm:h-auto" matSort>
    <!-- VarName Column -->
    <ng-container matColumnDef="varname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> VarName </th>
      <td mat-cell *matCellDef="let variables"> {{variables.varname}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td mat-cell *matCellDef="let variables"> {{variables.description}} </td>
    </ng-container>

    <!-- Units Column -->
    <ng-container matColumnDef="units">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Units </th>
      <td mat-cell *matCellDef="let variables"> {{variables.units}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
